.button {
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--neutral-0);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  box-shadow: var(--shadows-base-default);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  cursor: pointer;

  &:hover{
    box-shadow: var(--shadows-base-hover);
  }

  &:disabled {
    opacity: 0.5;
  }
}
